.kanban__main {
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
}

.kanban__header {
  background-color: #0067a3;
  color: #ffffff;
  padding: 0 14px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kanban__header-text {
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 0;
}

.kanban__footer {
  background-color: #0067a3;
  color: #ffffff;
  padding: 0 14px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kanban__user-menu {
  display: flex;
  align-items: center;
}

.kanban__user-name {
  margin-right: 15px;
}

.kanban__user-image {
  width: 40px;
  height: 40px;
}

.kanban__div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 25px 14px;
  height: 797px;
  background-color: #0079bf;
}

.kanban__block {
  padding: 12px;
  width: 282px;
  min-height: 120px;
  max-height: 538px;
  background: #ebecf0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.tasks {
  display: flex;
  justify-content: space-between;
  width: 333px;
}

.btn__backlog-add {
  color: #5e6c84;
  text-align: left;
  border: 0;
  border-radius: 10px;
  margin-top: 8px;
  width: 246px;
  padding: 5px;
}

.btn__ready-add {
  color: #5e6c84;
  text-align: left;
  border: 0;
  border-radius: 10px;
  margin-top: 8px;
  width: 246px;
  padding: 5px;
}

.btn__progress-add {
  color: #5e6c84;
  text-align: left;
  border: 0;
  border-radius: 10px;
  margin-top: 8px;
  width: 246px;
  padding: 5px;
}

.btn__finished-add {
  color: #5e6c84;
  text-align: left;
  border: 0;
  border-radius: 10px;
  margin-top: 8px;
  width: 246px;
  padding: 5px;
}

.button-delete {
  color: #5e6c84;
  text-align: left;
  border: 0;
  border-radius: 10px;
  margin-top: 8px;
  width: 246px;
  padding: 5px;
}

.dropdown-by-id .button-delete {
  width: 48px;
}

.input__backlog {
  border: 0;
  border-radius: 10px;
  padding: 5px;
  width: 246px;
}

.input__ready {
  border: 0;
  border-radius: 10px;
  padding: 5px;
  width: 246px;
}

.input__progress {
  border: 0;
  border-radius: 10px;
  padding: 5px;
  width: 246px;
}

.input__finished {
  border: 0;
  border-radius: 10px;
  padding: 5px;
  width: 246px;
}

.input__backlog:focus {
  outline: none;
  border: 2px solid #5e6c84;
}

.input__ready:focus {
  outline: none;
  border: 2px solid #5e6c84;
}

.input__progress:focus {
  outline: none;
  border: 2px solid #5e6c84;
}

.input__finished:focus {
  outline: none;
  border: 2px solid #5e6c84;
}

.dropdown-task-backlog {
  list-style: none;
  padding-left: 0;
  margin: 22px 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: #cbcbcb #ffffff;
  scrollbar-width: thin;
}

.dropdown-task-ready {
  list-style: none;
  padding-left: 0;
  margin: 22px 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: #cbcbcb #ffffff;
  scrollbar-width: thin;
}

.dropdown-task-progress {
  list-style: none;
  padding-left: 0;
  margin: 22px 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: #cbcbcb #ffffff;
  scrollbar-width: thin;
}

.dropdown-task-finished {
  list-style: none;
  padding-left: 0;
  margin: 22px 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: #cbcbcb #ffffff;
  scrollbar-width: thin;
}

.list-task-backlog-without-user {
  width: 235px;
  background: #ffffff;
  border-radius: 5px;
  padding: 6px;
  word-wrap: break-word;
  margin: 9px 0;
}

.list-task-backlog {
  width: 235px;
  background: #ffffff;
  border-radius: 5px;
  padding: 6px;
  word-wrap: break-word;
  margin: 9px 0;
}

.list-task-ready {
  width: 235px;
  background: #ffffff;
  border-radius: 5px;
  padding: 6px;
  word-wrap: break-word;
  margin: 9px 0;
}

.list-task-progress {
  width: 235px;
  background: #ffffff;
  border-radius: 5px;
  padding: 6px;
  word-wrap: break-word;
  margin: 9px 0;
}

.list-task-finished {
  width: 235px;
  background: #ffffff;
  border-radius: 5px;
  padding: 6px;
  word-wrap: break-word;
  margin: 9px 0;
}

.button-deleteTask {
  width: 246px;
  border-radius: 5px;
  padding: 6px;
  margin: 9px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-by-id {
  position: relative;
  display: inline-block;
  width: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 246px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.p-dropdown {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 246px;
}

.p-backlog-user {
  width: 246px;
}

.deleteImg {
  width: 25px;
  height: 25px;
}

.tasks-from-backlog {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tasks-from-ready {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tasks-from-progress {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tasks-from-finished {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tasks-from-backlog:hover {
  background-color: #aca8a852;
  border-radius: 10px;
}

.tasks-from-ready:hover {
  background-color: #aca8a852;
  border-radius: 10px;
}

.tasks-from-progress:hover {
  background-color: #aca8a852;
  border-radius: 10px;
}

.tasks-from-finished:hover {
  background-color: #aca8a852;
  border-radius: 10px;
}

.title-task {
  margin: 0 16px;
}

.tasks-delete:hover {
  background-color: #aca8a852;
  border-radius: 10px;
}

.user-delete:hover {
  background-color: #aca8a852;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-by-id:hover .dropdown-content {
  display: block;
  left: -200px;
}

.active-add:hover {
  background-color: turquoise;
  color: black;
  cursor: pointer;
}

.no-active-add:hover {
  background-color: #5e6c84;
  color: #ffffff;
  cursor: default;
}

@media only screen and (max-width: 1300px) {
  .kanban__div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 1500px;
    background-color: #0079bf;
  }

  .kanban__header-text {
    color: transparent;
  }
}
